body {
        margin: 0;
        padding: 0;
        
       
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
      }
        #map-background,
        #map-container,
        #map-overlay,
        #content {
        width: 100%;
        min-height: 100%;
        position: absolute;
        }
	#map-background {
  	z-index: -1;
	}
	#map-container {
  	z-index: 0;
	}

	#content {
 	 z-index: 0;
	}
      .marker {
        background-image: url('marker.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .mapboxgl-popup {
        max-width: 400px;
        z-index: 9999;
		
      }
      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Roboto', sans-serif;
		width: 400px;
		background-color: rgba(150,200,150,0.8);
		
      }
      .container {
       position: relative;
       background: #ff6600;
       z-index: 1;
       
      }

      /* Bottom right text */
      .text-block {
       position: relative;
       bottom: 20px;
       right: 20px;
       background-color: rgba(150,200,150,0.8);
       color: black;
       padding-left: 20px;
       padding-right: 20px;
       
       
       }
       
.top_div {
	background-color: rgba(255,255,190,0.5);
	position: absolute;
	padding-left: 450px;
	padding-right: 40px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	line-height: 1.5em;
	z-index: 0;
	 text-align: justify;
  text-justify: inter-word;
   text-shadow: 0 0 4px #FFFFA5, 0 0 4px #FFFFA5;
}
.bottom_div {
	background-color: rgba(255,255,190,0.5);
	position: fixed;
	padding-left: 450px;
	padding-right: 40px;
	bottom: 0px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	 text-shadow: 0 0 4px #FFFFA7, 0 0 5px #FFFFA7;
	line-height: 1.5em;
	 text-align: justify;
  text-justify: inter-word;
	
}
.top_div1 {
	background-color: rgba(255,255,255,0);
	position: fixed;
	padding-left: 450px;
	padding-right: 40px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	line-height: 1.5em;
	z-index: 0;
	 text-align: justify;
  text-justify: inter-word;
   text-shadow: 0 0 4px #FFFFFF, 0 0 4px #FFFFFF;
}
.bottom_div1 {
	background-color: rgba(255,255,255,0.5);
	position: fixed;
	padding-left: 450px;
	padding-right: 40px;
	bottom: 0px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	 text-shadow: 0 0 4px #FFFFFF, 0 0 5px #FFFFFF;
	line-height: 1.5em;
	 text-align: justify;
  text-justify: inter-word;
	
}
.middle_div {
  
  position:  absolute;
  padding-top: 20vh;
  flex-wrap: wrap-reverse;
  padding-left: 45vh;
  padding-bottom: 150px;
  align-items: center;
  margin: auto;
  z-index: 0;
}
.iframe_video {
  width: 45vh;
  height: 30vw;
  transform: translate(0, 10%);
  frameborder: 0;
  allow: accelerometer;
  autoplay: True;
  encrypted-media: True;
}

.div_left {
	width: 30%;
	z-index: 1;
}
.top_bottom_text {
	padding-top: 40px;
	color: #000000; 
	/*text-align: justify;*/ 
	padding-right: 50px;
  font-size: 3.2vw;
}
    
  /**   Navigation Menu
--------------------------------------------------------------*/

/** Desktop Navigation 
*/
.navbar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  display: flex;
  /*top: 0;*/
  /*left: 0;*/
  background-color: #FFA500;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

.navbar ul {
	padding-top: 10px;
}

.navbar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.5em;
  color: rgba(130,224,128,0.95);
  display: block;
  font-family: "Monoton", sans-serif;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.navbar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}
@media screen and (max-width: 2200px){
  .top_div {font-size: 1vw}
  
  @media screen and (max-width: 4000px){
  .top_div {font-size: 1vw}
  
  
  
}
@media screen and (max-width: 1200px){
  .bottom_div {font-size: 1.4vw}
}

@media screen and (max-width: 800px) {
  .navbar {padding-top: 15px;width: 160px}
  .navbar a {font-size: 18px;}
  .top_div {padding-left: 190px;padding-right: 30px;}
  .bottom_div {padding-left: 190px;padding-right: 30px;}
  .top_div1 {padding-left: 190px;padding-right: 30px;}
  .bottom_div1 {padding-left: 190px;padding-right: 30px;}
  .top_div {font-size: 1.8vw;}
  .bottom_div {font-size: 1.8vw;}
  .middle_div {padding-left: 190px;padding-top: 70vw;}
  .iframe_video {width: 60vw;height: 35vw;}
}




.mobile-nav-toggle {
  color: #151515;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  
}

.navbar-mobile {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 1;
}

.navbar-mobile .mobile-nav-toggle {
  width: 200px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
  font-family: "Roboto", sans-serif;
}


