body {
        margin: 0;
        padding: 0;
        
       
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
      }
        #map-background,
        #map-container,
        #map-overlay,
        #content {
        width: 100%;
        min-height: 100%;
        position: absolute;
        }
	#map-background {
  	z-index: -1;
	}
	#map-container {
  	z-index: 0;
	}

	#content {
 	 z-index: 0;
	}
      .marker {
        background-image: url('marker.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .mapboxgl-popup {
        max-width: 400px;
        z-index: 9999;
		
      }
      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Roboto', sans-serif;
		width: 400px;
		background-color: rgba(150,200,150,0.8);
		
      }
      /*.container {
       position: relative;
       background: #ff6600;
       z-index: 1;
       
      }*/

      /* Bottom right text */
      .text-block {
       position: relative;
       bottom: 20px;
       right: 20px;
       /*background-color: rgba(150,200,150,0.8);*/
       color: black;
       padding-left: 20px;
       padding-right: 20px;
       
       
       }
.bottom_absolute {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.top_div {
	background-color: rgba(255,255,190,0.5);
	position: absolute;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	line-height: 1.5em;
	z-index: 0;
	 text-align: justify;
  text-justify: inter-word;
   text-shadow: 0 0 4px #FFFFA5, 0 0 4px #FFFFA5;
}

.top_div .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.bottom_div {
	background-color: rgba(255,255,190,0.5);
	position: fixed;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 0px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	 text-shadow: 0 0 4px #FFFFA7, 0 0 5px #FFFFA7;
	line-height: 1.5em;
	 text-align: justify;
  text-justify: inter-word;
	
}
.top_div1 {
	background-color: rgba(255,255,255,0);
	position: absolute;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	line-height: 1.5em;
    z-index: 0;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: 0 0 4px #FFFFFF, 0 0 4px #FFFFFF;
	max-height: 400px;
}
.bottom_div1 {
	background-color: rgba(255,255,190,0.5);
	position: fixed;
	padding-left: 40px;
	padding-right: 40px;
	bottom: 0px;
	padding-bottom: 70px;
	font-size: 1.4vh;
	font-family: 'Monserrat', sans-serif;
	 text-shadow: 0 0 4px #FFFFFF, 0 0 5px #FFFFFF;
	line-height: 1.5em;
	 text-align: justify;
  text-justify: inter-word;
	
}
.middle_div {
  position:  absolute;
  padding-top: 20vh;
  flex-wrap: wrap-reverse;
  padding-left: 50px;
  padding-bottom: 150px;
  align-items: center;
  margin: auto;
  z-index: 0;
}
.iframe_video {
  width: 45vh;
  height: 30vw;
  frameborder: 0;
  allow: accelerometer;
  autoplay: True;
  encrypted-media: True;
}

.div_left {
	width: 30%;
	z-index: 1;
}
.top_bottom_text {
	padding-top: 40px;
	color: #000000; 
	/*text-align: justify;*/ 
	padding-right: 50px;
  font-size: 3.2vw;
}

#main {
  transition: margin-left .5s;
  
}






@media screen and (max-width: 600px) {

  .bottom_div {padding-top: 500px}
}

@media screen and (max-width: 600px) {


  .bottom_div {padding-top: 30vw}



